@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sm-gap: 8px;
  --md-gap: 16px;
  --lg-gap: 24px;
  --base-wrapper-area: 95%;
  --color-primary: 67, 67, 243;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-start: 67 67 243;
  --color-primary-end: 47 22 148;
}

@layer utilities {
  .gap-sm {
    gap: var(--sm-gap);
  }
  .gap-md {
    gap: var(--md-gap);
  }
  .gap-lg {
    gap: var(--lg-gap);
  }
  .layout-area {
    width: var(--base-wrapper-area);
  }
  .primary-border-color {
    border-color: rgb(var(--color-primary));
  }
  .primary-bg-color {
    background-color: rgb(var(--color-primary));
  }
  .hover\:primary-bg-color:hover {
    background-color: rgb(var(--color-primary));
  }
  .hover\:primary-border-color {
    border-color: rgb(var(--color-primary));
  }
  .bg-custom-gradient {
    background-image: linear-gradient(
      90deg,
      rgba(67, 67, 243, 1) 0%,
      rgba(109, 109, 245, 1) 55%,
      rgba(47, 22, 148, 1) 98%
    );
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
